@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --white-color: white;
  --primary-color: brown;
  --success-color: cadetblue;
  --primary-font: 'Comfortaa', cursive;
  --text-color: #666;
}

body {
  font-family: var(--primary-font);
  background-color: beige;
}

h1, h3 {
  margin: 0;
}

p {
  margin: 0;
}

/* ----------------- */