.category {
	position: relative;
	width: fit-content;
	display: block;
}

.category__title {
	text-align: left;
	padding: 5px 34px;
	color: var(--white-color);
	background-color: var(--success-color);
	cursor: pointer;
	width: 100%;
}

.category:hover .selection__container {
	display: block;
}

.selection__container {
	border: 1px solid var(--success-color);
	position: absolute;
	right: 0;
	left: 0;
	display: none;
	background-color: var(--white-color);
}

.selection {
	padding: 5px 10px;
	cursor: pointer;
}

.selection:hover {
	background-color: var(--text-color);
	color: var(--white-color);
}

.filter__item {
	margin-left: 20px;
}

.checkbox {
	cursor: pointer;
}
