.form {
	border: 1px solid;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.input {
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
}

.button {
	padding: 10px;
	border: none;
	outline: none;
}

.icon--filter {
	margin-right: 5px;
	color: var(--success-color);
}

.icon--x {
	margin-left: 5px;
}

.icon--edit {
	color: var(--success-color);
	cursor: pointer;
}

.icon--trash {
	color: var(--primary-color);
	cursor: pointer;
}
