.todolist__container {
	margin: 20px 40px;
}

.form--create__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.todo__title {
	color: var(--primary-color);
}

.form {
	border: 1px solid;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

.input {
	width: 100%;
	padding: 5px;
	border: none;
	outline: none;
}

.input--edit {
	border: 1px solid var(--text-color);
}

.button {
	padding: 5px;
	border: none;
	outline: none;
}

.button--create {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.button--search {
	color: var(--white-color);
	background-color: var(--success-color);
}

.filters__container {
	display: flex;
	align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.filters {
	padding: 5px;
	border: none;
	outline: none;
	background-color: transparent;
	color: var(--success-color);
	cursor: pointer;
}

.icon--filter {
	margin-right: 5px;
	color: var(--success-color);
}

.filter__elements {
	display: flex;
    align-items: center;
    justify-content: center;
}

.filter__element {
	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
	padding: 5px;
	background-color: var(--success-color);
	border-radius: 8px;
	color: var(--white-color);
}

.icon--x {
	margin-left: 5px;
}

.filters-search__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.form--search {
	border-color: var(--success-color);
	width: 400px;
    margin-top: 10px;
}

.form--create {
	border-color: var(--primary-color);
	width: 400px;
}

.list-item {
	width: 300px;
	padding: 10px;
	margin: 5px;
	border: 1px solid var(--success-color);
	border-radius: 10px;
	background-color: khaki;
}

.todolist__body {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.todo-item__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--text-color);
}

.task__name {
	text-align: center;
	flex-grow: 1;
	color: var(--text-color);
	font-weight: bold;
}

.icon--edit {
	color: var(--success-color);
	cursor: pointer;
}

.todo__category {
	margin-top: 20px;
}

.todo__category select {
	padding: 5px;
	outline: none;
	border: 1px solid var(--text-color);
	border-radius: 10px;
	background-color: transparent;
}

.categories--selected {
	display: flex;
	margin-top: 10px;
}

.category--selected {
	padding: 5px;
	background-color: var(--success-color);
	margin-right: 10px;
	border-radius: 10px;
	color: var(--white-color);
	font-weight: bold;
	cursor: pointer;
}

.date--start,
.date--finished {
	margin-top: 10px;
}

.todo-item__footer {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
}

.icon--trash {
	color: var(--primary-color);
	cursor: pointer;
}

.todo-item__footer input {
	transform: scale(1.2);
	cursor: pointer;
}

.todolist__footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.select-all__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-all__container label {
    margin-left: 10px;
    cursor: pointer;
}

.button--pagination {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.button--pagination.active {
    background-color: var(--success-color);
    color: var(--white-color);
}

@media (max-width: 832px) {
    .form--create__container {
        flex-direction: column;
    }

    .filters-search__container {
        flex-direction: column;
    }

    .form--search {
        width: 60%;
        min-width: 300px;
    }
    
    .form--create {
        width: 60%;
        min-width: 300px;
    }
}